<%- include('layout/header') %>

<section class="mainnn">
    <div class="contnn">
        <div>
            <h1>dashboard</h1>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>name</th>
                        <th>email</th>
                        <th>view</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>14</td>
                        <td> <img src="" alt=""> </td>
                        <td>lutaaya jamil</td>
                        <td>jamil@gmail.com</td>
                        <td><a href="/view">view</a></td>
                        <td> <a href="">edit</a> </td>
                        <td> <a href="">delete</a> </td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
</section>
