<%- include('layout/header') %>
<section class="body">
    <div>
        <h1>we are here to handle your personal <br> problems</h1>
        <a href="start.html"><button>start now</button></a>
    </div>
</section>
<%- include('layout/footer') %>
