<%- include('layout/header') %>

<section class="main">
    <div class="cont">
        <div>
            <h1>login</h1>
        </div>
        <div class="form">
            <form action="">
                <input type="text" placeholder="User Name">
                <input type="password" name="" id="" placeholder="Password">
            </form>
            <a href='/dashboard'><button>submit</button></a>
        </div>
    </div>
</section>

<%- include('layout/footer') %>
