<%- include('layout/header') %>

<section class="main">
    <div class="cont">
        <div>
            <h1>view</h1>
        </div>
        <div class="view">
            <img src="Jose-Chamili.jpg" alt="" width="600px">
            <p>name: <span>muzafalu mike</span></p>
            <p>email: <span>muza@gmail.com</span></p>
            <p>issue: <br><span>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Id, nostrum delectus mollitia pariatur quibusdam illo eius, inventore quasi, harum quae iure o
                mnis quaerat hic velit eaque ipsa ut perferendis natus.</span></p>
        </div>
    </div>
</section>


<%- include('layout/footer') %>
