<section class="footer">
    <footer>
        <p>HEXA &copy; copyright 2023</p>
    </footer>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("table").DataTable({
            order: [0, 'desc']
        });
    });
</script>
</body>
</html>